
// --------------[compass]
@import "compass";


//---------------[reset]


//---------------[base styles]
$primary_font:Tahoma, Helvetical, Arial, sans serif;
$headline_font:Rockwell;

$font_size:13px;
$line-height:1.5 * $font_size;
//font colors
$body_color:rgb(65, 65, 66);
$accent1:rgb(183, 187, 83);//green
$accent2:rgb(145, 212, 218);//lt blue
$accent3:rgb(26, 141, 132);//dk blue
$accent4:rgb(216, 216, 216);//lt grey

