
@import 'base';


/* BASE TYPOGRPHY */

/* These are the default styles for the Simple theme */
body {
    font-size: $font_size; 
    line-height: $line_height; 
    margin-bottom: 20px;
    color: $body_color;
    font-family: $primary_font;
}
  body a { text-decoration: none; } /* this removes the underline from all links */
  body a:link { -webkit-tap-highlight-color: $accent4 } /* this sets the highlight color when links are tapped on Safari (browser) on iPhone */


/* HEADERS */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    font-family: $headline_font;
    font-weight: normal;
    margin-bottom: 10px;
    color: $primary_font;
}
.typography h1 {
  font-size: 3*$font_size;
  line-height: 3*$line_height;
  margin: 0 0 25px 0;
  padding-bottom: 5px;
}
.typography h2 { font-size: 2*$font_size; line-height: 2*$line_height; margin-bottom: 15px; }
.typography h3 { font-size: 1.75*$font_size; line-height: 1.75*$line_height; margin-bottom: 10px; }
.typography h4 { font-size: 1.5*$font_size; line-height: 1.5*$line_height; margin-bottom: 5px; }
.typography h5 { font-size: 1.25*$font_size; line-height: 1.25*$line_height; margin-bottom: 5px; }
.typography h6 { font-size: 1*$font_size; line-height: 1*$line_height; font-weight: bold; margin-bottom: 5px; }


/* PARAGRAGHS */
.typography  {
    p { font-size: $font_size; line-height: $line_height; margin: 0 0 20px; }
    em { font-style: italic; }
}

::selection,
::-moz-selection { /* Applies style to highlighted portion of a page */
    background: $accent3;
    color: #fff;
    text-shadow: none;
}

/* LINKS */
.typography { 
    a, a.intro {
    color: $accent2;
    text-decoration: none;
  }
  a:hover { 
    color: $accent1;
  }
  a:focus { }
}

/* LIST STYLES
-------------------------------------------- */
.typography {
  ul, ol, dl { margin: 0 0 20px 25px; }
  ul li { list-style-type: disc; } /* adds disc style bullet to the list */
  li { margin-bottom: 5px; }
}

.typography .nolist{
  ul, ol, dl { margin: 0 0 20px 0px; padding:0}
  ul li { list-style-type: none; } /* adds disc style bullet to the list */
  li { margin-bottom: 5px; }
}

/* TABLE STYLES
-------------------------------------------- */
.typography table {
    border-collapse: collapse; /* borders are collapsed into a single border when possible */
    border: 1px solid #d4d4d4;
    border-spacing: 0; /* The border-spacing property sets the distance between the borders of adjacent cells - acts as a backup to border-collapse: collapse */
    margin: 0 0 10px;
    text-align: left;
}
  .typography table tr:nth-child(even) {
      background-color: #ededed
  }
  .typography table tr.even,
  .typography table th,
  .typography thead td {
      background-color: #ededed
  }
  .typography table td,
  .typography table th {
      padding: 2px 5px;
      border: 1px solid #d4d4d4;
      vertical-align: top;
  }
  .typography table th {
      font-weight: bold;
  }


/* WYSIWYG EDITOR ALIGNMENT CLASSES 
-------------------------------------------- */
.typography .left {
    text-align: left
}
.typography .center {
    text-align: center
}
.typography .right {
    text-align: right
}


/* IMAGES 
-------------------------------------------- */
.typography img {
    border: 5px solid #d7d7d7;
    height: auto; /* resets the image height so that it maintains its aspect ratio when width is set */
    background: transparent url(../images/ajax-loader.gif) no-repeat center center;
}
.typography img.left {
    float: left;
    max-width: 50%;
    margin: 5px 20px 10px 0;
}
.typography img.right {
    float: right;
    max-width: 50%; /* Responsive width */
    margin: 5px 0 10px 20px;
}
.typography img.leftAlone {
    float: left;
    margin-right: 100%;
    margin-bottom: 10px;
    clear: both;
}
.typography img.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    clear: both;
}
.typography .captionImage { width: 100%; margin-top: 5px; }
.typography .captionImage img { margin: 0; }
  .typography .captionImage.left {
    float: left;
    margin: 5px 30px 20px 0px;
  }
  .typography .captionImage.right{
    float: right;
    margin: 5px 0 20px 30px;
  }
  .typography .captionImage.left[style],
  .typography .captionImage.right[style] {
    max-width: 50%; /* Overides core width to make responsive */
  }
  .typography .captionImage.left img,
  .typography .captionImage.right img {
    float: none;
    max-width: none;
    width: 100%;
  }
  .typography .captionImage.left img {
    margin-right: -10px;
  }
  .typography .captionImage.right img {
    margin-left: -10px;
  }
  .typography .captionImage.right p {
    margin-left: -10px;
    text-align: left;
    margin-left: -10px;
  }
.typography .captionImage.leftAlone{
  float:none;
  margin: 0 20px 20px 0px;
}
.typography .captionImage.center{
  margin: 0 auto 20px;
}
.typography .captionImage p {
  clear: both;
  margin: 5px 0;
  font-style: italic;
  color: #888;
}


/* BLOCKQUOTES
-------------------------------------------- */
.typography blockquote {
  background: transparent url(../images/blockquote.png) no-repeat 0px 6px;
  font-family: "CamboRegular", Georgia, "Times New Roman", Times, serif;
  color: #777;
  display: block;
  font-style: italic;
  margin: 0 0 20px;
  float: right;
  text-indent: 30px;
  width: 50%;
  margin-left: 5%;
  clear: both;
}
.typography blockquote p {
  font-size: 17px;
  line-height: 25px;
}
.typography pre {
  background: #F7F7F7;
  border: 1px solid #E4E4E4;
  font-family: Courier, monospace;
  margin: 0 0 20px 0;
  padding: 15px;
  clear: both;
}

/* ADDRESS
-------------------------------------------- */
address {
  display: block;
  margin-bottom: 20px;
}